.SpecialSlider {
  position: relative;
  height: 360px;
}

.swiper {
  height: 353px;
  border-radius: 20px;
}

.SpecialItem {
  box-shadow: 0px 5px 10px 0px rgba(95, 95, 95, 0.1);
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s;
}

.SpecialItem:hover {
  transform: scale(1.02);
}

.imgBlock {
  width: 100%;
  height: 210px;
  background-image: url(../../../../../public/img/specialBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.contentBlock {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  background-color: white;
  padding: 20px 0px 25px 25px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.title {
  color: rgb(48, 46, 51);
  font-size: 18px;
  font-weight: 900;
  line-height: 125%;
}

.subtitle {
  color: rgb(155, 154, 157);
  font-size: 14px;
  font-weight: 600;
  line-height: 130%;
}