.special-button-prev {
  z-index: 2;
  position: absolute;
  width: 55px;
  height: 55px;
  margin-left: -25px;
  bottom: 30%;

  display: flex;
  justify-content: center;
  align-items: center;

  transform: rotate(180deg);
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
}

.special-button-next {
  z-index: 2;
  position: absolute;
  width: 55px;
  height: 55px;
  margin-right: -25px;
  bottom: 30%;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  background-color: white;
  border-radius: 50%;
}

.swiper-button-disabled {
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease-in-out;
}