.swiper-container {
  position: relative;
}

.swiper {
  margin-top: 30px;
  height: 628px;
  padding: 2rem 0;
}

.swiper-navigation {
  z-index: 1;
  position: absolute;
  bottom: 90%;
  right: 0;
  display: flex;
  gap: 15px;
  align-items: center;
  float: right;
}

.swiper-arrow {
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
}

.swiper-button-prev {
  width: 43px;
  height: 43px;
  box-shadow: 0px 3.55px 44.31px 0px rgba(0, 0, 0, 0.09);
  opacity: 0.3;
}

.swiper-button-prev:hover {
  transform: scale(1.05);
  opacity: 1;
}

.swiper-button-next {
  width: 57px;
  height: 57px;
  box-shadow: 0px 3.55px 44.31px 0px rgba(0, 0, 0, 0.09);
}

.swiper-button-next:hover {
  transform: scale(1.05);
}