.StocksItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.StockItem {
  max-width: 177px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


.main {
  position: relative;
  width: 177px;
  height: 177px;
  border-radius: 50%;
  background: rgba(224, 224, 224, 0.801) no-repeat center;
  background-image: url(../../../../../public/img/starwberry.png);
}

.sale {
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 900;
  line-height: 130%;
  letter-spacing: -1%;
  border-radius: 100px;
  background: rgb(254, 168, 7);
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.price {
  z-index: 2;
  width: 140px;
  height: 46px;
  margin-top: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0px 5px 30px 0px rgba(95, 95, 95, 0.1);
  border-radius: 100px;
  transition: all 0.2s;
}

.StockItem:hover .price {
  background-color: red;
  color: white;
}

.priceRight {
  display: flex;
  flex-direction: column;
}

.span1 {
  font-size: 14px;
  font-weight: 800;
  line-height: 120%;
}

.span2 {
  font-size: 32px;
  font-weight: 900;
  line-height: 36px;
}

.del {
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  opacity: 0.5;
}

.name {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}

.timer {
  margin-top: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
  opacity: 0.5;
}

.svg path {
  opacity: 0.5;
}