.NavSearchUl {
  display: flex;
  gap: 15px;
  margin-top: 50px;
}

.radioGroup {
  display: flex;
  float: left;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}

.radioGroup input[type=radio] {
  display: none;
}

.radioGroup label {
  display: flex;
  opacity: 0.5;
  cursor: pointer;
  user-select: none;
  transition: opacity 0.3s;
}

.radioGroup input[type=radio]:checked+label {
  border-bottom: 2px solid black;
  opacity: 1;
}